extends layout

block content
  img.entry-image(src='/dog-image.png', alt='dog pic')

  div.entry-content
    h1= entry.title
    !{entry.content}

  div.entry-meta
    | Published by #{entry.statusByUserName}
    | on #{new Date(entry.statusDate).toDateString()}.

  div.read-more
    a(href='/') Return to the Acandog Archive
